body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;

  .header__left {
    display: flex;
    align-items: center;

    h3 {
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
      text-transform: uppercase;
    }
    p {
      margin: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      color: #9d9d9d;
    }

    img {
      margin: 43px 16px 45px 45px;
    }
  }

  .header__right {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 55px 63px 53px 0;
    padding: 0;

    li {
      margin-right: 30px;

      span {
        margin-left: 10px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 600;
      }
    }

    li:last-of-type {
      margin-right: 0px;
    }
  }
}

.content {
  margin: 0;
  padding: 40px 60px;

  h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
  }
}

.card {
  border: 1px solid red;
}
